consumer-movie-feign/src/main/resources/META-INF/coder.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        targetNamespace="http://www.ws.com/schema/coder"
        elementFormDefault="qualified">
    <element name="coder">
        <complexType>
            <attribute name="id" type="string"></attribute>
            <attribute name="age" type="int"></attribute>
            <attribute name="name" type="string"></attribute>
            <attribute name="class" type="string"></attribute>
        </complexType>
    </element>
</schema>
